.Container {
  width: 100vw;
  background-color: #fff;
  position: fixed;
  z-index: 100000000;
}

.navContainer {
  max-width: 1240px;
  margin: auto;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo p {
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  color: #1e1e20;
  font-weight: 600;
}

.logo p span {
  color: var(--blue);
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.categoryItem {
  width: 5rem;
  font-size: 1.25rem;
  color: #1e1e20;
  margin-left: 1.5rem;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: 0.2s ease-in;
  text-decoration: none;
  &:hover {
    color: #1e1e20;
    font-weight: 600;
  }
}

.categoryItem::after {
  content: "";
  display: block;
  height: 2px;
  width: 80%;
  background-color: var(--blue);
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
  transform-origin: left;
}

.categoryItem:hover::after {
  transform: scaleY(1);
}

.active {
  color: #1e1e20;
  font-weight: 600;
  width: 5rem;
  font-size: 1.25rem;
  margin-left: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 80%;
  background-color: var(--blue);
  transform: scaleX(1);
}

.inputContainer {
  position: relative;
}

.inputContainer input {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: #d2d2d2;
  color: #1e1e20;
}

.search {
  position: absolute;
  right: 5px;
  top: 4px;
}

.cartContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.cartItem {
  width: 1rem;
  height: 1rem;
  background: var(--blue);
  color: #d0d0d1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
  top: -20%;
  right: -20%;
}

.buttonContainer {
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton {
  font-size: 1rem;
  padding: 0.4rem 1.25rem;
  background-color: var(--blue);
  color: #d0d0d1;
  font-weight: 500;
  font-family: "Poppins";
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: #2763ff;
    color: #ebebef;
  }
}
