.sectionContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  position: relative;
}

.bgImage {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 20%;
  overflow-x: hidden;
}

.gradientStyle {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 20%;
  background: linear-gradient(-90deg, rgba(39, 42, 55, 0.62), rgb(39, 42, 55));
}

.pageContainer {
  padding-top: 3%;
  max-width: 1240px;
  margin: auto;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.circle {
  height: 1rem;
  width: 1rem;
  background-color: var(--blue);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.75px;
  font-family: "Poppins", sans-serif;
}

.title span {
  color: var(--blue);
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.gridContainer {
  margin-top: 6%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 2%;
  height: 100%;
}

.logo {
  z-index: 10;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
